@model System.Data.DataTable

@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>User Details</h3>
<input type="text" id="search" placeholder="Search..." class="form-control mb-2" />
<table class="table table-bordered">
    <tr>
        @foreach (System.Data.DataColumn col in Model.Columns)
        {
            <th>@col.ColumnName</th>
        }

    </tr>

    @foreach (System.Data.DataRow row in Model.Rows)
    {
        <tr>
            @foreach (var item in row.ItemArray)
            {
                <td>@item</td>

            }
        <td>
            <a href="/User/Edit?id=@row["UserId"]" class="btn btn-sm btn-primary">
                Edit
            </a>

            <a href="/User/Delete?id=@row["UserId"]"
               class="btn btn-sm btn-danger"
               onclick="return confirmDelete();">
                Delete
            </a>
        </td>
        </tr>
    }

</table>

<br />

<a href="/Hotel/Register" class="btn btn-success">
    Click here for Hotel Registration
</a>
<script>
    document.getElementById("search").onkeyup = function () {
        let val = this.value.toLowerCase();
        let rows = document.querySelectorAll("table tr");

        rows.forEach(r => {
            r.style.display = r.innerText.toLowerCase().includes(val) ? "" : "none";
        });
    }

    function confirmDelete() {
        return confirm("Are you sure you want to delete this user?");
    }
</script>