@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Registration Successful!</h3>

<p>Click below to login:</p>

<a href="/Account/Login" class="btn btn-primary">Go to Login</a>